$black: #000000; 
$white: #ffffff; 
$light-gray: #ebebeb; 
$light-green: #94cb53; 
$acquamarine: #08cb7b; 
$blue: #30405f; 
$orange: #ff9933; 
$darker-blue: #212734; 
$lighter-blue: #30415F; 
$medium-blue: #28344A; 
$yellowish: #95CB53 ; 

